@charset "ISO-8859-1";

.main-sidebar-custom{
	padding-top: 150px;
} 

/* .main-header-custom {
	background: url("commonimg/lrit-header14.jpg") ;
  background-size: auto;
	height : 100px;
	 width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
} */


.logo{
	height: 100px;
}

.navbar navbar-static-top{
	height: 100px;
}
/* .skin-blue .main-header .navbar .sidebar-toggle:hover
{
background-color: transparent;
} */
.main-header .navbar-custom-menu, .main-header .navbar-right {
    margin-top: 50px;
}


/* User profile background image */
.skin-blue .main-header li.user-header 
{
background: url("/img/banner4.jpg") ;
 background-size: cover;
} 
.content-wrapper
{
	/* image in the background */
  /* background: url("commonimg/bot-back.jpg") ;
  background-size: cover; */
	/* background-color : #d4f1ff; */
}
/* Main Header image */
/* .main-header .navbar .logo 
{
background: url("commonimg/unnamed.jpg") ;
  background-size: cover;
} */
/* Sidebar image commented */
/* .main-sidebar{
background: url("commonimg/sidebarmenu.jpg") ;
  background-size: cover;
} */
/* Sidebar Header image */
/* .main-header .logo{
height: 100px;
background: url("commonimg/sidebarmenu.jpg") ;
 background-size: cover;
} */

.main-header .sidebar-toggle {
	padding: 15px 18px;
	}
	
.main-header .sidebar-toggle:hover {
    color: #003957;
    background-color: #5bbcec;
    padding: 15px 18px;
}	
.box{
	border-style: solid;
    border-color: #f1f1f1;
}
	
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header
{
	    background-color: #5bbcec;
	   /* background-color: #e5f4fb61;*/
}
.box-body
{
	background-color: #e5f4fb;
	/*background-color: #ffffff;*/
}
.navbar-nav {
     /*  background-color: #019add; */
       float: right;
}

.skin-blue .sidebar-menu>li.header {
    color: #ffffff;
    background: #5bbcec;
}
/* left bar color chnage */
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ffffff;
}
/* side bar tree view color */
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    /* background: #012d75; */
    background-color: #e5f4fb;
}
/* side bar menu main list */
.sidebar-menu>li {
   
    background-color: #ffffff;
}
/* .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #2f538c;
} */

/* scrollable side box */
.scrollable {
	height: 100px;
	overflow-y: scroll;
}

.box {
	margin-bottom: 10px;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover .navbar-static-top l
	{
	background-color: none;
	background: none;
}

/* .box-body
{
	    background-color: #b8d8fd;
}
.body-header{
	
	background-color: #5099ef;
} */

/* Notification bar */
/* .main-header-notification .navbar{
	height : 20px;
	background-color : #ffffff;
	    margin-bottom: 0;
} */
.navbar{
	background-color : #ffffff;
	    margin-bottom: 0;
} 
nav.navbar.navbar-static-top.main-header-notification {
    margin-bottom: 0;
}
ul.navbar-nav {
	float: right;
}
.skin-blue .sidebar a {
    color: #023c59;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #ffffff;
    background: #5bbcec;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #023c59;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #5bbcec;
}
/* Profile Area */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    background-color: #e5f4fb;
}
/* font color in Profile area */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: rgb(2, 60, 89);
}


/* Avni ma'am code for sidebar image */
/* body,html { 
  background: url(resources/ship.jpg);
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} */

/* leftside menu 
.main-sidebar 
{
background-image: url (/resources/sidebarmenu.jpg);
}  */


.modal-header
{
	    background-color: #5bbcec;
	    border-bottom: 1px solid #f4f4f4;
}
.Gismodal-body
{
	background-color: #e5f4fb;
}
.modal-title
{
display: inline-block;
font-size: 18px;
margin: 0;
line-height: 1;
}


.skin-blue .sidebar-menu>li>a {
    border-left: 3px solid transparent;
    font-weight: bold;
    font-size: 15px;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 17px;
    margin: 0;
    line-height: 1;
    /* FONT-WEIGHT: BOLD; */
    font-weight: bold;
    font-size: 15px;
}

/* DATEPICKER MONTH AND YEAR OVERRIDED BY NAVBAR TO AVOID THAT  */
.datepicker {
	z-index: 10000 !important;
}

.control-label:after
{
 content:"*";
 color:red;
font-weight: normal;font-size: 20px;
text-align: left;
}

.required-label:after
{
 content:"*";
 color:red;
font-weight: normal;font-size: 20px;
text-align: left;
}

.abadge
{
	color : white;
}