.trMap {
		background-color: white;
		text-align: "center";
	}
	
	.scrollableMap {		
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
		overflow-x: hidden;
		overflow-y: auto;
		
	}
	
	.rightClickDivStyle{
		position: absolute;
		z-index: 20;
		width:max-content;
	}
	
	.ulRightClick {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;
		z-index: 100;
	}
	
	.liRightClick { 
		color: black;
		text-align: Left;
		padding: 5px;
		text-decoration: none;
		z-index: 100;
	}
	
	.liRightClick:hover {
		background-color: #111111;
		z-index: 100;
	}
	
	.icon {
		height: 24px; //24 px;
		width: 24px;
		margin: 0;
		padding: 0;
	}
	
	.gisHorzButton {
		color: white;
		background-color: #3c8dbc;
		border-color: #367fa9;		
	}
	
	.gisHorzButton:hover {
		color: white;
		background-color: #367fa9;
	}
	
	.gisHorzButton.down {
		background-color: #005580;		
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	
	.verticalButton {
		padding: 0;
		width: 32px; // 32 px;
		height: 32px;
		background: #FFFFFF; /*f5f5f5*/
		border-radius: 10px;
	}
	
	.verticalButton:hover {
		background-color: #DCDCDC;
	}
	
	.verticalButton.down {
		color: white;
		background: #EEEEEE;
		border-top: solid 2px #777;
		border-left: solid 2px #777;
		border-bottom: solid 2px #eaeaea;
		border-right: solid 2px #eaeaea;
	}
	
	.ol-custom {
		//z-index: 1000;
		position: absolute;
		top: 0px;
		left: -moz-calc(100% - 40px);
		left: -webkit-calc(100% - 40px);
		left: calc(100% - 40px);
		width: 35px;
		OVERFLOW-Y: auto;
	}
	
	.ol-custom1 {
		//z-index: 1000;
		position: absolute;
		top: 10px;
	}
	
	.ol-customdistance {
		//z-index: 1000;		
		top: 80px;
	}
	
	
	.ol-custom2 {
		//z-index: 1000;		
		top: 40px;
	}
	
	.ol-attribution ul {
		margin: 0;
		padding: 0 .5em;
		font-size: 1rem;
		line-height: 1.375em;
		color: #000;
		text-shadow: 0 0 2px #fff;
	}
	
	.scrollbar-vertical-button {
		scrollbar-width: none;
	}
	
	.scrollbar-vertical-button::-webkit-scrollbar {
		width: 1px;
	}
	
	.scrollbar-vertical-button::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	
	.scrollbar-popup {
		scrollbar-width: none;
	}
	
	.scrollbar-popup::-webkit-scrollbar {
		width: 1px;		
	}
	
	.scrollbar-popup::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	
	.scrollbar-popup::-webkit-scrollbar-thumb {
		background: #888; 
	}
	
	.scrollbar-popup::-webkit-scrollbar-thumb:hover {
		background: #555; 
	}
	
	.ol-customtest {
		//z-index: 1000;
		position: absolute;	
		bottom: 50px;
		OVERFLOW-Y: scroll;
		HEIGHT: 80px;	
	}
	
	.popupFont {		
		font-size: 12px;
		font-variant: camel-caps;
		font-weight: bold;
	}
	
	.ol-popup {
		position: absolute;		
		background-color: #e6dddc ;
		-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
		filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
		padding: 15px;
		border-radius: 15px;
		border: 2px solid darkred;
		bottom: 12px;
		left: -50px;				
		max-height: 280px; 
		padding-bottom: 5px;
		
	}
	
	.ol-popup:after, .ol-popup:before {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	
	.ol-popup:after {
		border-top-color: #e6dddc;
		border-width: 10px;
		left: 48px;
		margin-left: -10px;
	}
	
	.ol-popup:before {
		border-top-color: darkred;
		border-width: 12px;
		left: 48px;
		margin-left: -11px;
	}
	
	.ol-popup-closer {
		text-decoration: none;
		position: absolute;
		top: 5px;
		right: 8px;
	}
	
	.ol-popup-closer:after {
		content: "X";
		font-size: 12px;
	}
	
	.ol-popup-resize {
		text-decoration: none;
		position: absolute;
		top: 5px;
		right: 20px;
	}
	
	.ol-popup-resize:after {
		content: "-";
		font-size: 14px;
	}
	
	.ol-popup-resizeMin {
		text-decoration: none;
		position: absolute;
		top: 5px;
		right: 20px;
	}
	
	.ol-popup-resizeMin:after {
		content: "+";
		font-size: 14px;
	}
		
	.ol-popup-title {
		font-size: 14px;
		font-variant: camel-caps;
		font-weight: bold;
		position: absolute;
		top: 5px;
		left: 12px;
		color: #337ab7;
	}
	
	.ol-popup-title:after {
		content: "Ship Details";
	}
	
	.popup-content {		
		min-width: 90px;
		max-height: 230px;
		color: darkred;
		white-space: nowrap;
		overflow: auto;
	}
	
	.ol-custom-overviewmap, .ol-custom-overviewmap.ol-uncollapsible {
		background-color: : #e5f4fb;
		bottom: auto;
		left: auto;
		right: 0;
		top: 0;
	}
	
	.ol-custom-overviewmap:not (.ol-collapsed ) {
		background-color: #e5f4fb;
		border: 1px solid black;
		
	}
	
	.ol-custom-overviewmap .ol-overviewmap-map {
		background: : #e5f4fb;
		border: none;
		width: 300px; 
	}
	
	.ol-custom-overviewmap .ol-overviewmap-box {
		border: 2px solid red;
		background-color: : #e5f4fb;
	
	}
	
	
	.ol-custom-overviewmap:not (.ol-collapsed ) button {
		bottom: auto;
		left: auto;
		right: 1px;
		top: 1px;
		background: #e5f4fb;
	}
	
	.ol-rotate {
		top: 170px;
		right: 0;
	}
	
	.tooltipGrid {
		position: relative;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		color: white;
		padding: 4px 8px;
		opacity: 0.7;
		white-space: nowrap;
	}
	
	.tooltipGrid-measure {
		opacity: 1;
		font-weight: bold;
	}
	
	.tooltipGrid-static {
		background-color: #ffcc33;
		color: black;
		border: 1px solid white;
	}
	
	.tooltipGrid-measure:before, .tooltipGrid-static:before {
		border-top: 6px solid rgba(0, 0, 0, 0.5);
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		content: "";
		position: absolute;
		bottom: -6px;
		margin-left: -7px;
		left: 50%;
	}
	
	.tooltipGrid-static:before {
		border-top-color: #ffcc33;
	}
	
	.sarAreaTableBodyStyle {
		OVERFLOW-Y: scroll;
		HEIGHT: 100px;
	}
	
	.gisTable-fixed tbody {
		height: 100px;
		overflow-y: auto;
		width: 100%;
	}
	
	.gisTable-fixed thead, .gisTable-fixed tbody, .gisTable-fixed tr,
		.gisTable-fixed td, .gisTable-fixed th {
		display: block;
	}
	
	.gisTable-fixed tbody td, .gisTable-fixed tbody th, .gisTable-fixed thead>tr>th
		{
		float: left;
		position: relative; &:: after { content : '';
		clear: both;
		display: block;
	}
	}
	 
	 .gisDatatable.dataTable thead .sorting, 
	.gisDatatable.dataTable thead .sorting_asc, 
	.gisDatatable.dataTable thead .sorting_desc {
    	background : none;
    	padding: 10px;    	
	} 
	
	div.dataTables_wrapper div.dataTables_filter input { width: 100px; } 
	
	/* div.dataTables_wrapper div.dataTables_filter */
	
	.map:-moz-full-screen {
		background-color: #e5f4fb;
  		height: 100%;
  		
	}
	.map:-webkit-full-screen {
	  background-color: #e5f4fb;
	  height: 100%;
	  
	}
	.map:-ms-fullscreen {
	  background-color: #e5f4fb;
	  height: 100%;	  
	}
	.map:fullscreen {
		background-color: #e5f4fb;
	  height: 100%;
	  
	}
	.ol-rotate {
	background-color: #e5f4fb;
	  top: 3em;
	}
	
	.textLatLonRight
	{
	 width: 20px;	 
	 border: none;	
	 background-color: #c6cfce12;	
	}
		
	.textRingDistance
	{
		width: 50px;
		background-color: #9195951c;
	}
		
	.ol-tooltip {
        position: relative;
        background: transparent; //rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 0px 0px;
        opacity: 0.7;
        white-space: nowrap;
        font-size: 12px;
         font-weight: bold;
      //   z-index:902;
      }
     
      .ol-tooltip-static {       
        color: black;     
      }
      
      .ol-tooltip-static:before {      
        content: "";
        position: absolute;       
      }
     
     .scale-line {
	  position: absolute;
	  bottom: 50px;	  
	 // z-index: 1000;
	}
	.ol-scale-line {
	  position: relative;
	  bottom: 0px;
	  left: 0px;
	}
	
	.refreshDataTimeStyle {	 	  
	  bottom: 0px;	  
	 // z-index: 1000;
	  background-color: #e5f4fb;
	  padding-left: 10px;
	}